* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
h1 {
  margin: 20px 0 0 20px;
}
div {
  width: 200px;
  height: 100px;
  background-color: beige;
  margin: 20px;
  position: relative;
}
div > span {
  background-color: gray;
  padding: 3px;
  position: absolute;
  right: 0;
  color: white;
}
span:hover {
  cursor: pointer;
}
p {
  line-height: 100px;
  text-align: center;
  font-size: 1.4rem;
}
input[type="text"] {
  margin-left: 20px;
}
